# General
.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
.hypothesis/
.pytype/
pip-log.txt
pip-delete-this-directory.txt
backend/logs/*
!backend/logs/.gitkeep
backend/lib/
backend/staticfiles/

# Database
*.db
*.db-journal
*.db-trace
*.db-wal
*.db-shm
*.db-lock
db.sqlite3

# Poetry
.venv/

# Node / Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.next/
out/
build/
.vercel
.turbo
*.tsbuildinfo
next-env.d.ts

# Serverless
.serverless/

# Miscellaneous
.cache/
.temp/
*.log
coverage/